name: Docs

on:
    push:
        branches: ['main']

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - uses: actions/setup-python@v2
              with:
                  python-version: '3.10'
            - name: Upgrade pip
              run: |
                  python -m pip install -U pip
            - name: Install dependencies
              run: |
                  python -m pip install .

            - name: Start FastAPI app
              env:
                  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
              run: |
                  python -m kitchengpt &
                  sleep 10 # Give the server time to start

            - name: Download Swagger UI HTML
              run: |
                  mkdir -p public
                  curl http://127.0.0.1:8000/docs -o public/index.html
                  curl http://127.0.0.1:8000/openapi.json -o public/openapi.json
            - name: Update Swagger UI HTML for GitHub Pages
              run: |
                  sed -i 's|/openapi.json|./openapi.json|' public/index.html

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./public
